extends layout

block extraHeader
    link(rel='stylesheet', href='/bower_components/nouislider/distribute/nouislider.css')
    link(rel='stylesheet', href='/css/createTrip.css')

block extraScripts
    script(type='text/javascript', src='/bower_components/nouislider/distribute/nouislider.min.js')
    script(type='text/javascript' src='/js/createTrip.js')
    script(type='text/javascript' src='/js/bindings/datepicker.js')
    script(type='text/javascript' src='/js/bindings/noUiSlider.js')
    script(type='text/javascript' src='/js/bindings/popover.js')

block content
    .container
        .row.m-bottom
            .col-md-12
                .card
                    .card-header.default-color.lighten-1.white-text
                        span Trip Details
                    .card-body.p-bottom-none
                        span.error-message(data-bind='visible: detailsError, text: detailsError')
                        //- .form-group.m-none
                        .row
                            .col-md-6
                                .md-form
                                    input#tripNameInput(type='text', data-bind='value: tripName')
                                    label(for='tripNameInput') Trip Name
                            .col-md-6
                                //- .input-group
                                .md-form
                                    label(for='tripStartDateInput') Start Date
                                    input#tripStartDateInput(type='text', data-bind='dateTimePicker: tripStartDate')
        .row.m-bottom
            .col-md-8.m-right-none
                .card
                    .card-header.default-color.lighten-1.text-white
                        span Trip Segments
                        i.fa.fa-question-circle-o.help(data-bind='popover: { options: { content: "Add segments dividing your budget between different countries or regions.  Alternatively, add one segment for your entire trip.", trigger: "hover" } }')
                    .card-body
                        span.error-message(data-bind='visible: segmentsError, text: segmentsError')
                        .segment-details(style='display: none', data-bind='visible: tripSegments().length > 0, foreach: tripSegments')
                            .card.m-bottom-small
                                .card-header.segment-head.stylish-color.white-text(data-bind='click: toggle')
                                    .pull-left
                                        img.img-flag(data-bind='attr: { src: $root.getIconForCountry(country()) }')
                                    .pull-left.segment-head-text(data-bind='text: $root.getNameForCountry(country())')
                                    .pull-right.segment-head-text(data-bind='text: getBudgetText()')
                                .card-body.segment-body(data-bind='visible: expanded')
                                    .form-group.m-top-none
                                        .country-input
                                            select.form-control.country-dropdown#transactionCountry(data-bind='value: country')
                                                option
                                    .form-group.m-none
                                        .row
                                            .col-md-4
                                                .md-form
                                                    .input-group
                                                        .input-group-prepend
                                                            span.input-group-text.lock-icon(data-bind='click: toggleDaysLock')
                                                                i(data-bind='attr: { "class": daysLocked() ? "fa fa-lock" : "fa fa-unlock-alt" }')
                                                        input.form-control(type='number', name='daysAmount', id='daysAmount', data-bind='value: days, disable: daysLocked')
                                                        .input-group-append
                                                            span.input-group-text days
                                            .col-md-8
                                                .slider.slider-info(data-bind='noUiSlider: { min: 1, max: 60, value: days, id: "days" }, css: { "force-disable": daysLocked }')
                                    .form-group.m-none
                                        .row
                                            .col-md-4
                                                .md-form
                                                    .input-group
                                                        .input-group-prepend
                                                            span.input-group-text.lock-icon(data-bind='click: toggleBudgetLock')
                                                                i(data-bind='attr: { "class": budgetLocked() ? "fa fa-lock" : "fa fa-unlock-alt" }')
                                                        input.form-control(type='number', name='budgetAmount', id='budgetAmount', data-bind='value: budget, disable: budgetLocked')
                                                        .input-group-append
                                                            span.input-group-text(data-bind='text: $root.user().base_currency')
                                            .col-md-8
                                                .slider.slider-info(data-bind='noUiSlider: { min: 1, max: 2000, value: budget, id: "budget" }, css: { "force-disable": budgetLocked }')
                                    .form-group.m-none
                                        .row
                                            .col-md-4
                                                .md-form
                                                    .input-group
                                                        .input-group-prepend
                                                            span.input-group-text.lock-icon(data-bind='click: togglePerDayLock')
                                                                i(data-bind='attr: { "class": perDayLocked() ? "fa fa-lock" : "fa fa-unlock-alt" }')
                                                        input.form-control(type='number', name='perDayAmount', id='perDayAmount', data-bind='value: perDay, disable: perDayLocked')
                                                        .input-group-append
                                                            span.input-group-text(data-bind='text: $root.user().base_currency + "/Day"')
                                            .col-md-8
                                                .slider.slider-info(data-bind='noUiSlider: { min: 1, max: 200, value: perDay, step: 0.01, id: "perDay" }, css: { "force-disable": perDayLocked }')
                                    .form-group.m-none
                                        .row
                                            .col-md-12
                                                button.btn.stylish-color.pull-right(data-bind='click: toggle') Ok
                                                button.btn.btn-danger.pull-right(data-bind='click: function() { $root.deleteSegment(id) }') Delete Segment
                        .add-segment(data-bind='click: addSegment')
                            span Add Segment

            .col-md-4
                .row.m-bottom
                    .col-md-12
                        .card
                            .card-header.default-color.lighten-1.text-white
                                span One-Off Expenses
                                i.fa.fa-question-circle-o.help(data-bind='popover: { options: { content: "Enter single expenses, such as initial flights, vaccinations, or visa fees.", trigger: "hover" } }')
                            .card-body
                                .segment-details(style='display: none', data-bind='visible: tripOneOffExpenses().length > 0, foreach: tripOneOffExpenses')
                                    .card.m-bottom-small
                                        .card-header.segment-head.stylish-color.white-text(data-bind='click: toggle')
                                            .pull-left.segment-head-text(data-bind='text: getText()')
                                        .card-body.segment-body(data-bind='visible: expanded')
                                            .form-group.m-top-none
                                                .md-form
                                                    .input-group
                                                        input.form-control(type='text', name='oneOffTitle', id='oneOffTitle', placeholder='Expense Title', data-bind='value: title')
                                            .form-group
                                                .md-form
                                                    .input-group
                                                        input.form-control(type='number', name='oneOffAmount', id='oneOffAmount', placeholder='100', data-bind='value: amount')
                                                        .input-group-append
                                                            span.input-group-text(data-bind='text: $root.user().base_currency')
                                            .form-group
                                                .row
                                                    .col-md-12
                                                        button.btn.stylish-color.pull-right(data-bind='click: toggle') Ok
                                                        button.btn.btn-danger.pull-right(data-bind='click: function() { $root.deleteOneOffExpense(id) }') Delete
                                        
                                .add-segment(data-bind='click: addOneOff')
                                    span Add One-Off Expense
                .row
                    .col-md-12
                        .card
                            .card-header.default-color.lighten-1.text-white
                                span Overview
                            .card-body
                                .summary-section(data-bind='foreach: tripOneOffExpenses')
                                    .row.summary-item
                                        .col-md-12
                                            span.pull-left(data-bind='text: title() || "Expense"')
                                            span.pull-right(data-bind='text: $root.formatCurrencyShort(amount(), $root.user().base_currency)')
                                .summary-section(data-bind='foreach: tripSegments')
                                    .row.summary-item
                                        .col-md-12
                                            span.pull-left(data-bind='text: summary()')
                                            span.pull-right(data-bind='text: $root.formatCurrencyShort(budget(), $root.user().base_currency)')
                                .summary-section.total
                                    .row.total-divider(data-bind='visible: (tripOneOffExpenses().length + tripSegments().length) > 0')
                                        hr
                                    .row
                                        .col-md-12
                                            span.pull-left Total
                                            span.pull-right(data-bind='text: $root.getTotalBudgetText()')

    
        .row
            .col-md-12
                .section.save
                    .card
                        .card-body.save-panel
                            button.btn.stylish-color.m-none.save-button(data-bind='saveTripEnabled, click: saveTrip') Save Trip
    script.
        var vm = new CreateTripViewModel();
        var currencies = !{currency};
        var countries = !{countries};
        var trip = !{trip};
        var user = !{user};
        vm.currencyArr = ko.observableArray(currencies);
        vm.currencyObj = ko.observable({});
        vm.countryArr = ko.observableArray([]);
        vm.countryObj = ko.observable(countries);
        vm.trip = ko.observable(trip);
        vm.user = ko.observable(user);

        // Preload flag images
        var images = new Array();
        var noImage = ['BQ', 'BV', 'GF', 'GP', 'HM', 'IO', 'PM', 'RE', 'SJ', 'SX', 'UM', 'XK'];
        function preload(src) {
            images.push(new Image());
            images[images.length - 1].src = src;
        }

        for(var key in vm.countryObj().countries) {
            if(vm.countryObj().countries.hasOwnProperty(key)) {
                var country = vm.countryObj().countries[key];
                if(noImage.indexOf(key) == -1) {
                    vm.countryObj().countries[key].icon = key;
                    preload('images/flags/16/' + key + '.png');
                }
                else {
                    vm.countryObj().countries[key].icon = '_unknown';
                }
                country.id = key;
                vm.countryArr.push(country);
            }
        }
        vm.countryArr.sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );

        for(var i = 0; i < vm.currencyArr().length; i++) {
            vm.currencyObj()[vm.currencyArr()[i].id] = vm.currencyArr()[i];
        }
        
        $(document).ready(function() {
            ko.applyBindings(vm);
            var formatOption = function(item) {
                if (!item.icon) { return item.display_name; }
                var $item = $(
                    '<span><img src="images/flags/16/' + item.icon + '.png" class="img-flag" /> ' + item.display_name + '</span>'
                );
                return $item;
            };
            var formatSelection = function(item) {
                if (!item.icon) { return item.display_name; }
                var $item = $(
                    '<span><img src="images/flags/16/' + item.icon + '.png" class="img-flag" /> ' + item.id + '</span>'
                );
                return $item;
            };
            vm.initCountryDropdown();
        });