extends layout

block extraHeader
    script(type='text/javascript' src='/js/home.js')
    script(type='text/javascript' src='/js/bindings/datepicker.js')
    script(type='text/javascript' src='/js/bindings/popover.js')
    link(rel='stylesheet', href='/css/home.css')

block content
    div.container
        div.row
            div.col-sm-6.col-md-4.col-md-offset-4
                h1.text-center.login-title Home
        div.row
            div.col-md-4
                div.section.cash-reserves
                    div.title.text-center
                        span Cash Reserves
                    div.amount.text-center(data-bind='foreach: cashReserves')
                        span(data-bind='text: $root.formatCurrency(amount, currency)') 
                        br
                        span Worth: 
                        span(data-bind='text: $root.formatCurrency(worth, base)')
                        hr
                    div.withdraw
                        div.btn-group
                            button.btn.btn-primary.btn-lg(type='button', data-bind='click: openWithdrawalModal') Add Withdrawal
                            button.btn.btn-primary.btn-lg.dropdown-toggle(type='button', data-toggle='dropdown')
                                span.caret
                                span.sr-only Toggle Dropdown
                            ul.dropdown-menu(role='menu')
                                li
                                    a(href='#', data-bind='click: openCashModal') Add Earned Cash
            div.col-md-8
                div.section.budget-tracker
                    div.title.text-center
                        span Budget
        div.row
            div.col-md-12
                div.section.transactions
                    div.title.text-center
                        span Transactions
                        button.btn.btn-primary(type='button', data-toggle='modal', data-target='#transactionModal') +


        //- Modals
        #transactionModal.modal.fade(role='dialog', aria-labelledby='transactionModalLabel')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#transactionModalLabel.modal-title Record Transaction
                    .modal-body
                        span.error-message(data-bind='visible: transactionError, text: transactionError')
                        div.form-group
                            label.radio-inline
                                input(type='radio', name='transactionType', value='cash', data-bind='checked: transactionType')
                                | Cash
                            label.radio-inline
                                input(type='radio', name='transactionType', value='credit', data-bind='checked: transactionType')
                                | Credit
                        div.form-group.m-none
                            div.row
                                div.amount-input.col-md-8(data-bind='css: { "has-error": transactionAmount.canValidate() && transactionAmount.errors().length }')
                                    label(for='transactionAmountInput') Transaction Amount
                                    input.form-control(type='number', min='0', id='transactionAmountInput', data-bind='value: transactionAmount, valueUpdate: "afterkeydown"')
                                    //ko if: transactionAmount.canValidate() && transactionAmount.errors().length
                                    //ko foreach: transactionAmount.errors
                                    span.form-error(data-bind='text: message')
                                    // /ko
                                    // /ko
                                div.currency-input.col-md-4
                                    label(for='transactionCurrency') Currency
                                    select.form-control.currency-dropdown#transactionCurrency(required)
                                        option
                                    small.form-text.text-muted.m-bottom The currency in which you paid
                                    br
                        div.form-group.m-none
                            div.row
                                div.col-md-6
                                    label(for='transactionDate', data-bind='text: transactionDateLabel')
                                    div.input-group
                                        input.form-control(id='transactionDate', data-bind='dateTimePicker: transactionDate', type='text')
                                        span.input-group-addon
                                            i.fa.fa-calendar
                                div.col-md-6(data-bind='visible: transactionSplit')
                                    label(for='transactionEnd') End Date
                                    div.input-group
                                        input.form-control(id='transactionEnd', data-bind='dateTimePicker: transactionEnd', type='text')
                                        span.input-group-addon
                                            i.fa.fa-calendar
                            div.row.m-top-small
                                div.col-md-12
                                    a(href='#' data-bind='click: toggleTransactionSplit, text: transactionSplitText')

                        div.form-group.m-none.m-top
                            div.country-input
                                label(for='withdrawalCountry') Country
                                select.form-control.country-dropdown#withdrawalCountry(required)
                                    option
                        div.do-not-associate
                            label.form-check-label
                                input.form-check-input(type='checkbox', value='', data-bind='checked: unassociatedTransaction')
                                | Do not associate this transaction with a country
                                button.btn.btn-sm.question(data-bind='popover: { options: { content: "If selected, this transaction will not show up in any country\'s expenses.  It will show up in its own Unassigned category.", trigger: "hover" } }')
                                    i.fa.fa-question-circle-o
                        div.form-group.m-none
                            label Category
                            div.row
                                div.col-md-2
                                    div.row.category-option
                                        div.col-md-12.category-icon
                                            i.fa.fa-cutlery
                                        div.col-md-12
                                            span Food and Drink
                                div.col-md-2
                                    div.row.category-option
                                        div.col-md-12.category-icon
                                            i.fa.fa-bed
                                        div.col-md-12
                                            span Accommodation
                                div.col-md-2
                                    div.row.category-option
                                        div.col-md-12.category-icon
                                            i.fa.fa-car
                                        div.col-md-12
                                            span Transportation
                                div.col-md-2
                                    div.row.category-option
                                        div.col-md-12.category-icon
                                            i.fa.fa-binoculars
                                        div.col-md-12
                                            span Sightseeing
                                div.col-md-2
                                    div.row.category-option
                                        div.col-md-12.category-icon
                                            i.fa.fa-glass
                                        div.col-md-12
                                            span Alcohol
                                div.col-md-2
                                    div.row.category-option
                                        div.col-md-12.category-icon
                                            i.fa.fa-ellipsis-h
                                        div.col-md-12
                                            span Miscellaneous
                        div.form-group.m-none.m-top
                            label(for='descriptionInput') Description (optional)
                            label.pull-right(data-bind='text: descriptionRemainingLength')
                            textarea.form-control#descriptionInput(data-bind='value: transactionDescription, valueUpdate: "afterkeydown"')
                                        
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-primary(type='button', data-bind='click: saveTransaction, enable: canSubmitTransaction') Save


        #withdrawalModal.modal.fade(role='dialog', aria-labelledby='withdrawalModalLabel')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#withdrawalModalLabel.modal-title(data-bind='text: withdrawalModalTitleText')
                    .modal-body
                        span.error-message(data-bind='visible: withdrawalError, text: withdrawalError')
                        div.row
                            div.amount-input.col-md-9
                                div.form-group.m-none(data-bind='css: { "has-error": withdrawalAmount.canValidate() && withdrawalAmount.errors().length }')
                                    label(for='withdrawalAmountInput', data-bind='text: withdrawalModalAmountText')
                                    input.form-control(type='number', min='0', id='withdrawalAmountInput', data-bind='value: withdrawalAmount, valueUpdate: "afterkeydown"')
                                    //ko if: withdrawalAmount.canValidate() && withdrawalAmount.errors().length
                                    //ko foreach: withdrawalAmount.errors
                                    span.form-error(data-bind='text: message')
                                    // /ko
                                    // /ko
                            div.currency-input.col-md-3
                                label(for='withdrawalCurrency') Currency
                                select.form-control.currency-dropdown#withdrawalCurrency(required)
                                    option
                                //- small.form-text.text-muted.m-bottom The currency you withdrew from the ATM
                                br
                        label(for='withdrawalDate') Date
                        div.input-group.m-none
                            input.form-control(id='withdrawalDate', data-bind='dateTimePicker: withdrawalDate', type='text')
                            span.input-group-addon
                                i.fa.fa-calendar
                        div.form-check(data-bind='visible: !isEarnedCash()')
                            label.form-check-label.m-top
                                input.form-check-input(type='checkbox', value='', data-bind='checked: isTransactionFee')
                                | This withdrawal incurred a transaction fee
                        div.input-group.m-none(data-bind='visible: !isEarnedCash() && isTransactionFee(), css: { "has-error": transactionFee.canValidate() && transactionFee.errors().length }')
                            label.m-top(for='transactionFee', data-bind='text: transactionFeeLabel')
                            input.form-control(type='number', min='0', id='transactionFee', data-bind='value: transactionFee, valueUpdate: "afterkeydown"')
                            //ko if: transactionFee.canValidate() && transactionFee.errors().length
                            //ko foreach: transactionFee.errors
                            span.form-error(data-bind='text: message')
                            // /ko
                            // /ko

                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-primary(type='button', data-bind='click: saveWithdrawal, enable: canSubmitWithdrawal') Save



    script.
        var vm = new HomeViewModel();
        var currencies = !{currency};
        var countries = !{countries};
        vm.currencyArr = ko.observableArray(currencies);
        vm.currencyObj = ko.observable({});
        vm.countryArr = ko.observableArray([]);
        vm.countryObj = ko.observable(countries);

        // Preload flag images
        var images = new Array()
        var noImage = ['BQ', 'BV', 'GF', 'GP', 'HM', 'IO', 'PM', 'RE', 'SJ', 'SX', 'UM', 'XK'];
        function preload(src) {
            images.push(new Image());
            images[images.length - 1].src = src;
        }
        for(var key in vm.countryObj().countries) {
            if(vm.countryObj().countries.hasOwnProperty(key)) {
                var country = vm.countryObj().countries[key];
                if(noImage.indexOf(key) == -1) {
                    preload('images/flags/16/' + key + '.png');
                }
                country.id = key;
                vm.countryArr.push(country);
            }
        }
        for(var i = 0; i < vm.currencyArr().length; i++) {
            vm.currencyObj()[vm.currencyArr()[i].id] = vm.currencyArr()[i];
        }
        vm.formatCurrency(2000, 'COP');
        
        $(document).ready(function() {
            ko.applyBindings(vm);
            var formatOption = function(item) {
                if (!item.icon) { return item.display_name; }
                var $item = $(
                    '<span><img src="images/flags/16/' + item.icon + '.png" class="img-flag" /> ' + item.display_name + '</span>'
                );
                return $item;
            };
            var formatSelection = function(item) {
                if (!item.icon) { return item.display_name; }
                var $item = $(
                    '<span><img src="images/flags/16/' + item.icon + '.png" class="img-flag" /> ' + item.id + '</span>'
                );
                return $item;
            };
            $('.currency-dropdown').select2({
                data: vm.currencyArr(),
                matcher: function(params, data) {
                    var term = $.trim(params.term);
                    if (term === '') {
                        return data;
                    }
                    if(data.id === '') {
                        return null;
                    }
                    if(data.display_name.toUpperCase().indexOf(term.toUpperCase()) > -1) {
                        return data;
                    }
                    return null;
                },
                placeholder: {
                    id: '',
                    display_name: 'Home Currency',
                    icon: '_unknown'
                },
                templateResult: formatOption,
                templateSelection: formatSelection,
                theme: 'bootstrap'
            });

            var formatCountryOption = function(item) {
                var code = item.id || '_unknown';
                if(noImage.indexOf(code) > -1) {
                    code = '_unknown';
                }
                var $item = $(
                    '<span><img src="images/flags/16/' + code + '.png" class="img-flag" /> ' + item.name + '</span>'
                );
                return $item;
            };
            $('.country-dropdown').select2({
                data: vm.countryArr(),
                matcher: function(params, data) {
                    var term = $.trim(params.term);
                    if (term === '') {
                        return data;
                    }
                    if(data.id === '') {
                        return null;
                    }
                    if(data.name.toUpperCase().indexOf(term.toUpperCase()) > -1) {
                        return data;
                    }
                    if(data.native.toUpperCase().indexOf(term.toUpperCase()) > -1) {
                        return data;
                    }
                    return null;
                },
                placeholder: {
                    id: '',
                    name: 'Select Country',
                    icon: '_unknown'
                },
                templateResult: formatCountryOption,
                templateSelection: formatCountryOption,
                theme: 'bootstrap'
            });
            //- $('.select2-selection').css('height', 'auto');

            $('#withdrawalModal').on('shown.bs.modal', function () {
                $('#withdrawalAmountInput').focus();
            });
            $('#transactionModal').on('shown.bs.modal', function() {
                $('#transactionAmountInput').focus();
            });

            var lastWithdrawalCurrency = vm.getItem('lastWithdrawalCurrency');
            if(lastWithdrawalCurrency) {
                $('#withdrawalCurrency').val(lastWithdrawalCurrency).trigger('change');
            }
            var lastTransactionCurrency = vm.getItem('lastTransactionCurrency');
            if(lastTransactionCurrency) {
                $('#transactionCurrency').val(lastTransactionCurrency).trigger('change');
            }
        });