extends layout

block extraHeader
	script(type="text/javascript" src="/js/index.js")

block content
	div.container(style='margin-top: 45px;')
		div.row.justify-content-md-center
			.card(style='width: 28rem;')
				.card-body
					form(data-bind='submit: logIn')
						// Header
						.form-header.default-color
							h3
								i.fa.fa-lock
								|  Login:
						// Body
						.md-form
							i.fa.fa-user.prefix.grey-text
							input#username.form-control(type='text', required, autofocus)
							label(for='username') Your username
						.md-form
							i.fa.fa-lock.prefix.grey-text
							input#password.form-control(type='password', required)
							label(for='password') Your password
						.text-center(data-bind='visible: loginError')
							span.error-message(data-bind='text: loginError')
						.text-center
							button.btn.btn-default.waves-effect.waves-light(type='submit') Login
				// Footer
				.modal-footer
					.options
						p
							| Not a member? 
							a(href='/register') Sign Up
						//- p
						//- 	| Forgot 
						//- 	a(href='#') Password?

	script.
		var vm = new IndexViewModel();
		$(document).ready(function() {
			ko.applyBindings(vm);
		});