doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title= title
    script(type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/bower_components/knockout/dist/knockout.js')
    script(type='text/javascript', src='/bower_components/moment/min/moment.min.js')
    script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    script(type='text/javascript', src='/bower_components/select2/dist/js/select2.min.js')
    script(type='text/javascript', src='/bower_components/underscore/underscore-min.js')
    script(type='text/javascript', src='/js/bindings/validation.js')

    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/bower_components/select2/dist/css/select2.min.css')
    link(rel='stylesheet', href='/bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/loading.css')
    block extraHeader
  body
    .navbar.navbar-fixed-top
      // Include your brand here
      .navbar-header.pull-right
        a#nav-expander.nav-expander.fixed
          i.fa.fa-bars.fa-3x
    nav
      ul.list-unstyled.main-menu
        // Include your navigation here
        li.text-right
          a#nav-close(href='#') X
        li
          a(href='/home')
            i.fa.fa-home
            | Home
            span.icon
        li
          a(href='/transactions')
            i.fa.fa-dollar
            | Transactions
            span.icon  
        li
          a(href='/profile')
            i.fa.fa-user
            | Profile
            span.icon
        li
          a(href='#' onclick='signOut();')
            i.fa.fa-sign-out
            | Log Out
            span.icon
    script.
      $(document).ready(function(){												

        //Navigation Menu Slider
        $('#nav-expander').on('click', function(e){
      		e.preventDefault();
      		$('body').toggleClass('nav-expanded');
      	});
      	$('#nav-close').on('click', function(e){
      		e.preventDefault();
      		$('body').removeClass('nav-expanded');
      	});
        $('.container').on('click', function(e) {
          if($('body').hasClass('nav-expanded')) {
            e.preventDefault();
            $('body').removeClass('nav-expanded');
          }
        });

        if(!document.cookie.match(/^(.*;)?seanBudgetToken=[^;]+(.*)?$/)) {
          $('.navbar').remove();
          $('nav').remove();
        }
      });
      
      var signOut = function() {
          self.deleteCookie('seanBudgetToken');
          window.location = '/';
      };

      var deleteCookie = function(name) {
          document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
      };
    block content

