doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title= title

        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
        link(rel='stylesheet', href='/bower_components/select2/dist/css/select2.min.css')
        link(rel='stylesheet', href='/bower_components/MDBootstrap/css/mdb.css')
        link(rel='stylesheet', href='/css/select2-bootstrap.min.css')
        link(rel='stylesheet', href='/css/mdOverrides.css')
        link(rel='stylesheet', href='/css/style.css')
        block extraHeader

    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-primary.stylish-color.m-bottom
            .container
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav1', aria-controls='navbarNav1', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                a.navbar-brand(href='/home')
                    strong TripTrak
                #navbarNav1.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto.signed-in(style='display: none')
                        //- TODO - figure out whether to keep home link
                        //- li.nav-item#home-nav
                        //-     a.nav-link(href='/home') Home 
                        li.nav-item#transactions-nav
                            a.nav-link(href='/transactions') Transactions
                        li.nav-item#cash-nav
                            a.nav-link(href='/cash') Cash
                        li.nav-item#spending-nav
                            a.nav-link(href='/spending') Spending
                        li.nav-item#profile-nav
                            a.nav-link(href='/profile') Profile
                    ul.navbar-nav.ml-auto.signed-out(style='display: none')
                        li.nav-item
                            a.nav-link(href='#')
                                i.fa.fa-sign-in.mr-1
                                span Sign In
                    ul.navbar-nav.ml-auto.signed-in(style='display: none')
                        li.nav-item
                            a.nav-link(href='#', data-bind='click: signOut')
                                i.fa.fa-sign-in.mr-1
                                span Sign Out

        script(type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='/bower_components/MDBootstrap/js/popper.min.js')
        script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(type='text/javascript' src='/bower_components/knockout/dist/knockout.js')
        script(type='text/javascript', src='/bower_components/moment/min/moment.min.js')
        script(type='text/javascript', src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
        script(type='text/javascript', src='/bower_components/select2/dist/js/select2.min.js')
        script(type='text/javascript', src='/bower_components/underscore/underscore-min.js')
        script(type='text/javascript', src='/bower_components/MDBootstrap/js/mdb.js')
        script(type='text/javascript', src='/bower_components/progressbar.js/dist/progressbar.js')
        script(type='text/javascript', src='/bower_components/sweetalert2/dist/sweetalert2.all.min.js')
        script(type='text/javascript', src='/js/bindings/validation.js')

        block extraScripts
        script.
            var signOut = function() {
                self.deleteCookie('tripTrakToken');
                window.location = '/';
            };

            var deleteCookie = function(name) {
                document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            };

            if(document.cookie.indexOf('tripTrakToken') == -1) {
                $('.signed-out').show();
            }
            else {
                $('.signed-in').show();
            }
        block content
