extends layout

block extraHeader
	script(type="text/javascript" src="/js/register.js")

block content
	div.container(style='margin-top: 45px;')
		div.row.justify-content-md-center
			.card(style='width: 28rem;')
				.card-body
					form(data-bind='submit: register')
						// Header
						.form-header.default-color
							h3
								i.fa.fa-user
								|  Register:
						// Body
						.md-form
							input#username.form-control(type='text', data-bind='value: username', required, autofocus)
							label(for='username') Username
						.md-form
							input#password.form-control(type='password', data-bind='value: password', required)
							label(for='password') Password
						.md-form
							input#email.form-control(type='text', data-bind='value: email', required)
							label(for='email') Email
						.md-form
							input#firstName.form-control(type='text', data-bind='value: firstName', required)
							label(for='firstName') First Name
						.md-form
							input#lastName.form-control(type='text', data-bind='value: lastName', required)
							label(for='lastName') Last Name
						.md-form
							select.form-control.currency-dropdown(required)
								option
						.text-center
							button.btn.btn-default.waves-effect.waves-light(type='submit') Register

	script.
		var vm = new RegisterViewModel();
		var currencies = !{currency};
		vm.currencies = ko.observableArray(currencies);

		$(document).ready(function() {
			ko.applyBindings(vm);
			var formatOption = function(item) {
				if (!item.icon) { return item.display_name; }
				var $item = $(
					'<span><img src="images/flags/16/' + item.icon + '.png" class="img-flag" /> ' + item.display_name + '</span>'
				);
				return $item;
			}
			$('.currency-dropdown').select2({
				data: vm.currencies(),
				matcher: function(params, data) {
					var term = $.trim(params.term);
					if (term === '') {
						return data;
					}
					if(data.id === '') {
						return null;
					}
					if(data.display_name.toUpperCase().indexOf(term.toUpperCase()) > -1) {
						return data;
					}
					return null;
				},
				placeholder: {
					id: '',
					display_name: 'Home Currency',
					icon: '_unknown'
				},
				templateResult: formatOption,
				templateSelection: formatOption,
				theme: 'bootstrap'
			});
			$('.select2-selection').css('height', 'auto');
		});