extends layout

block extraHeader
    //- link(rel='stylesheet', href='/css/cash.css')

block extraScripts
    script(type='text/javascript' src='/js/mdDropdown.js')
    script(type='text/javascript' src='/js/spending.js')
    script(type='text/javascript' src='/js/bindings/datepicker.js')
    script(type='text/javascript' src='/js/bindings/popover.js')

block content
    .container
        .row
            .col-md-12
                .card
                    ul.nav.nav-tabs.nav-justified.default-color.lighten-1.white-text.m-left-none.m-right-none(role='tablist')
                        li.nav-item
                            a.nav-link.active(data-toggle='tab', href='#over-time', role='tab') Over Time
                        li.nav-item
                            a.nav-link(data-toggle='tab', href='#by-country', role='tab') By Country
                        li.nav-item
                            a.nav-link(data-toggle='tab', href='#by-category', role='tab') By Category

                    .tab-content.card
                        #over-time.tab-pane.fade.in.show.active(style='display: none', role='tabpanel')
                        #by-country.tab-pane.fade.in.show.active(style='display: none', role='tabpanel')
                        #by-category.tab-pane.fade.in.show.active(style='display: none', role='tabpanel')
                        .text-center(data-bind='visible: optionsLoading')
                            .preloader-wrapper.big.active
                                .spinner-layer.spinner-blue-only
                                    .circle-clipper.left
                                        .circle
                                    .gap-patch
                                        .circle
                                    .circle-clipper.right
                                        .circle
                        .row.m-top(style='display: none', data-bind='visible: !optionsLoading()')
                            .col-md-3
                                .options-panel
                                    .md-form
                                        select#trip-select(data-bind='value: selectedTrip')
                                        label Trip
                                    .md-form
                                        select.mdb-select(data-bind='value: selectedRange')
                                            option(value='label', disabled) Select Time Frame
                                            option(value='trip', selected) Entire Trip
                                            option(value='thisMonth') This Month
                                            option(value='thisWeek') This Week
                                            option(value='last30') Past 30 Days
                                            option(value='last14') Past 14 Days
                                            option(value='last7') Past 7 Days
                                        label Time Period
                                    .md-form(data-bind='visible: displayCategorySelect')
                                        select#category-select(multiple)
                                        label Category
                            .col-md-9
                                .chart-container
                                    canvas#chart

    script.
        $('#spending-nav').addClass('active');
        var vm = new SpendingViewModel();
        var user = !{user};
        console.log(user);
        var currencies = !{currency};
        var countries = !{countries};

        vm.currencyArr = ko.observableArray(currencies);
        vm.currencyObj = ko.observable({});
        vm.countryArr = ko.observableArray([]);
        vm.countryObj = ko.observable(countries);
        vm.user = ko.observable(user);
        vm.selectedTab = ko.observable('#over-time');

        for(var key in vm.countryObj().countries) {
            if(vm.countryObj().countries.hasOwnProperty(key)) {
                var country = vm.countryObj().countries[key];
                country.id = key;
                vm.countryArr.push(country);
            }
        }
        vm.countryArr.sort(function(a,b) {return (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0);} );
        
        for(var i = 0; i < vm.currencyArr().length; i++) {
            vm.currencyObj()[vm.currencyArr()[i].id] = vm.currencyArr()[i];
        }
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href") // activated tab
            vm.selectedTab(target);
        });
        
        $(document).ready(function() {
            ko.applyBindings(vm);

            $('.mdb-select').material_select();
        });