extends layout

block extraHeader
    script(type='text/javascript' src='/js/transactions.js')
    script(type='text/javascript' src='/js/bindings/datepicker.js')
    script(type='text/javascript' src='/js/bindings/popover.js')
    link(rel='stylesheet', href='/css/transactions.css')

block content
    div.container
        div.row
            div.col-md-12
                .panel.panel-default.panel-table
                    .panel-heading
                        .row
                            .col.col-xs-6
                                h3.panel-title Transactions
                            .col.col-xs-6.text-right
                                button.btn.btn-sm.btn-primary.btn-create(type='button', data-toggle='modal', data-target='#transactionModal') Add New
                    .panel-body
                        .sk-folding-cube(data-bind='visible: transactionsLoading')
                            .sk-cube1.sk-cube
                            .sk-cube2.sk-cube
                            .sk-cube4.sk-cube
                            .sk-cube3.sk-cube
                        table.table.table-striped.table-bordered.table-list(style='display: none', data-bind='visible: !transactionsLoading()')
                            thead
                                tr
                                    th #
                                    th.cursor-pointer(data-bind='click: function() { sort("type"); }')
                                        div.row
                                            div.col-md-9
                                                span Type
                                            div.col-md-3
                                                i.material-icons.md-12(data-bind='visible: sortField() == "type" && sortOrder() == "desc"') keyboard_arrow_down
                                                i.material-icons.md-12(data-bind='visible: sortField() == "type" && sortOrder() == "asc"') keyboard_arrow_up
                                    th.cursor-pointer(data-bind='click: function() { sort("amount"); }')
                                        div.row
                                            div.col-md-9
                                                span Amount
                                            div.col-md-3
                                                i.material-icons.md-12(data-bind='visible: sortField() == "amount" && sortOrder() == "desc"') keyboard_arrow_down
                                                i.material-icons.md-12(data-bind='visible: sortField() == "amount" && sortOrder() == "asc"') keyboard_arrow_up
                                    th.cursor-pointer(data-bind='click: function() { sort("value"); }')
                                        div.row
                                            div.col-md-9
                                                span Value
                                            div.col-md-3
                                                i.material-icons.md-12(data-bind='visible: sortField() == "value" && sortOrder() == "desc"') keyboard_arrow_down
                                                i.material-icons.md-12(data-bind='visible: sortField() == "value" && sortOrder() == "asc"') keyboard_arrow_up
                                    th.cursor-pointer(data-bind='click: function() { sort("category"); }')
                                        div.row
                                            div.col-md-9
                                                span Category
                                            div.col-md-3
                                                i.material-icons.md-12(data-bind='visible: sortField() == "category" && sortOrder() == "desc"') keyboard_arrow_down
                                                i.material-icons.md-12(data-bind='visible: sortField() == "category" && sortOrder() == "asc"') keyboard_arrow_up
                                    th.cursor-pointer(data-bind='click: function() { sort("date"); }')
                                        div.row
                                            div.col-md-9
                                                span Date
                                            div.col-md-3
                                                i.material-icons.md-12(data-bind='visible: sortField() == "date" && sortOrder() == "desc"') keyboard_arrow_down
                                                i.material-icons.md-12(data-bind='visible: sortField() == "date" && sortOrder() == "asc"') keyboard_arrow_up
                                    th.cursor-pointer(data-bind='click: function() { sort("country"); }')
                                        div.row
                                            div.col-md-9
                                                span Country
                                            div.col-md-3
                                                i.material-icons.md-12(data-bind='visible: sortField() == "country" && sortOrder() == "desc"') keyboard_arrow_down
                                                i.material-icons.md-12(data-bind='visible: sortField() == "country" && sortOrder() == "asc"') keyboard_arrow_up
                                    th.cursor-pointer(data-bind='click: function() { sort("description"); }')
                                        div.row
                                            div.col-md-9
                                                span Description
                                            div.col-md-3
                                                i.material-icons.md-12(data-bind='visible: sortField() == "description" && sortOrder() == "desc"') keyboard_arrow_down
                                                i.material-icons.md-12(data-bind='visible: sortField() == "description" && sortOrder() == "asc"') keyboard_arrow_up
                            tbody
                                // ko foreach: transactions
                                tr
                                    td(data-bind='text: ($index() + 1)')
                                    td(data-bind='text: $root.toTitleCase(type)')
                                    td
                                        img.img-flag(data-bind='attr: { src: "images/flags/16/" + $root.currencyObj()[currency].icon + ".png" }')
                                        span(data-bind='text: amount + " " + currency')
                                    td
                                        img.img-flag(data-bind='attr: { src: "images/flags/16/" + $root.currencyObj()[base_currency].icon + ".png" }')
                                        span(data-bind='text: base_amount + " " + base_currency')
                                    td(data-bind='text: $root.toTitleCase(category)')
                                    td(data-bind='text: moment(date).format("YYYY-MM-DD")')
                                    td
                                        img.img-flag(data-bind='attr: { src: $root.getIconForCountry(country) }')
                                        span(data-bind='text: $root.getNameForCountry(country)')
                                    td(data-bind='text: description')
                                // /ko
                    .panel-footer
                        .row
                            .col-md-2.page-display
                                span(data-bind='text: pageDisplayText')
                            .col-md-8.text-center
                                ul.pagination.hidden-md
                                    li
                                        a(href='#', data-bind='click: function(e) { navigate("first") }, clickBubble: false') <<
                                    li
                                        a(href='#', data-bind='click: function(e) { navigate("prev") }, clickBubble: false') <
                                    li.disabled
                                        a(href='#', data-bind='text: filters.page') 1
                                    li
                                        a(href='#', data-bind='click: function(e) { navigate("next") }, clickBubble: false') >
                                    li
                                        a(href='#', data-bind='click: function(e) { navigate("last") }, clickBubble: false') >>
                            .col-md-2.per-page
                                .input-group
                                        span.input-group-addon Per Page: 
                                        select.form-control(data-bind='options: filters.limitList, value: filters.limit')

        //- Modals
        #transactionModal.modal.fade(role='dialog', aria-labelledby='transactionModalLabel')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#transactionModalLabel.modal-title Record Transaction
                    .modal-body
                        span.error-message(data-bind='visible: transactionError, text: transactionError')
                        div.form-group
                            label.radio-inline
                                input(type='radio', name='transactionType', value='cash', data-bind='checked: transactionType')
                                | Cash
                            label.radio-inline
                                input(type='radio', name='transactionType', value='credit', data-bind='checked: transactionType')
                                | Credit
                        div.form-group
                            div.row
                                div.amount-input.col-md-8(data-bind='css: { "has-error": transactionAmount.canValidate() && transactionAmount.errors().length }')
                                    label(for='transactionAmountInput') Transaction Amount
                                    input.form-control(type='number', min='0', id='transactionAmountInput', data-bind='value: transactionAmount, valueUpdate: "afterkeydown"')
                                    //ko if: transactionAmount.canValidate() && transactionAmount.errors().length
                                    //ko foreach: transactionAmount.errors
                                    span.form-error(data-bind='text: message')
                                    // /ko
                                    // /ko
                                div.currency-input.col-md-4
                                    label(for='transactionCurrency') Currency
                                    select.form-control.currency-dropdown#transactionCurrency(required)
                                        option
                                    small.form-text.text-muted The currency in which you paid
                                    br
                        div.form-group
                            div.row
                                div.col-md-6
                                    label(for='transactionDate', data-bind='text: transactionDateLabel')
                                    div.input-group
                                        input.form-control(id='transactionDate', data-bind='dateTimePicker: transactionDate', type='text')
                                        span.input-group-addon
                                            i.material-icons date_range
                                div.col-md-6(data-bind='visible: transactionSplit')
                                    label(for='transactionEnd') End Date
                                    div.input-group
                                        input.form-control(id='transactionEnd', data-bind='dateTimePicker: transactionEnd', type='text')
                                        span.input-group-addon
                                            i.material-icons date_range
                            div.row
                                div.col-md-12
                                    a(href='#' data-bind='click: toggleTransactionSplit, text: transactionSplitText')

                        div.form-group
                            div.country-input
                                label(for='transactionCountry') Country
                                select.form-control.country-dropdown#transactionCountry(required)
                                    option
                        div.form-group.m-none
                            div.checkbox
                                label
                                    input(type='checkbox', value='', data-bind='checked: unassociatedTransaction')
                                    small.m-left-small Do not associate this transaction with a country
                                    //- button.btn.btn-sm.question(data-bind='popover: { options: { content: "If selected, this transaction will not show up in any country\'s expenses.  It will show up in its own Unassigned category.", trigger: "hover" } }')
                                    //-     i.fa.fa-question-circle-o
                        div.form-group
                            label Category
                            div.row
                                // ko foreach: categories
                                div.col-md-2
                                    div.row.category-option(data-bind='click: $root.categoryClicked, css: { "category-selected": $root.selectedCategory() && ($root.selectedCategory().id == id) }')
                                        input.category-value(type='hidden', data-bind='value: id')
                                        div.col-md-12.category-icon
                                            i.material-icons(data-bind='text: icon')
                                            //- i(data-bind='attr: { "class": "fa fa-" + icon }')
                                        div.col-md-12.category-label
                                            span(data-bind='text: $root.toTitleCase(category)')
                                // /ko
                        div.form-group
                            label(for='descriptionInput') Description (optional)
                            label.pull-right(data-bind='text: descriptionRemainingLength')
                            textarea.form-control#descriptionInput(data-bind='value: transactionDescription, valueUpdate: "afterkeydown"')
                                        
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                        button.btn.btn-primary(type='button', data-bind='click: saveTransaction, enable: canSubmitTransaction') Save


    script.
        var vm = new HomeViewModel();
        var currencies = !{currency};
        var countries = !{countries};
        vm.currencyArr = ko.observableArray(currencies);
        vm.currencyObj = ko.observable({});
        vm.countryArr = ko.observableArray([]);
        vm.countryObj = ko.observable(countries);

        // Preload flag images
        var images = new Array();
        var noImage = ['BQ', 'BV', 'GF', 'GP', 'HM', 'IO', 'PM', 'RE', 'SJ', 'SX', 'UM', 'XK'];
        function preload(src) {
            images.push(new Image());
            images[images.length - 1].src = src;
        }
        for(var key in vm.countryObj().countries) {
            if(vm.countryObj().countries.hasOwnProperty(key)) {
                var country = vm.countryObj().countries[key];
                if(noImage.indexOf(key) == -1) {
                    vm.countryObj().countries[key].icon = key;
                    preload('images/flags/16/' + key + '.png');
                }
                else {
                    vm.countryObj().countries[key].icon = '_unknown';
                }
                country.id = key;
                vm.countryArr.push(country);
            }
        }
        for(var i = 0; i < vm.currencyArr().length; i++) {
            vm.currencyObj()[vm.currencyArr()[i].id] = vm.currencyArr()[i];
        }
        vm.formatCurrency(2000, 'COP');
        
        $(document).ready(function() {
            ko.applyBindings(vm);
            var formatOption = function(item) {
                if (!item.icon) { return item.display_name; }
                var $item = $(
                    '<span><img src="images/flags/16/' + item.icon + '.png" class="img-flag" /> ' + item.display_name + '</span>'
                );
                return $item;
            };
            var formatSelection = function(item) {
                if (!item.icon) { return item.display_name; }
                var $item = $(
                    '<span><img src="images/flags/16/' + item.icon + '.png" class="img-flag" /> ' + item.id + '</span>'
                );
                return $item;
            };
            $('.currency-dropdown').select2({
                data: vm.currencyArr(),
                matcher: function(params, data) {
                    var term = $.trim(params.term);
                    if (term === '') {
                        return data;
                    }
                    if(data.id === '') {
                        return null;
                    }
                    if(data.display_name.toUpperCase().indexOf(term.toUpperCase()) > -1) {
                        return data;
                    }
                    return null;
                },
                placeholder: {
                    id: '',
                    display_name: 'Home Currency',
                    icon: '_unknown'
                },
                templateResult: formatOption,
                templateSelection: formatSelection,
                theme: 'bootstrap'
            });

            var formatCountryOption = function(item) {
                var code = item.id || '_unknown';
                if(noImage.indexOf(code) > -1) {
                    code = '_unknown';
                }
                var $item = $(
                    '<span><img src="images/flags/16/' + code + '.png" class="img-flag" /> ' + item.name + '</span>'
                );
                return $item;
            };
            $('.country-dropdown').select2({
                data: vm.countryArr(),
                matcher: function(params, data) {
                    var term = $.trim(params.term);
                    if (term === '') {
                        return data;
                    }
                    if(data.id === '') {
                        return null;
                    }
                    if(data.name.toUpperCase().indexOf(term.toUpperCase()) > -1) {
                        return data;
                    }
                    if(data.native.toUpperCase().indexOf(term.toUpperCase()) > -1) {
                        return data;
                    }
                    return null;
                },
                placeholder: {
                    id: '',
                    name: 'Select Country',
                    icon: '_unknown'
                },
                templateResult: formatCountryOption,
                templateSelection: formatCountryOption,
                theme: 'bootstrap'
            });
            //- $('.select2-selection').css('height', 'auto');

            $('#transactionModal').on('shown.bs.modal', function() {
                $('#transactionAmountInput').focus();
            });
            $('#transactionCurrency').on("select2:select", function (e) {
                $('#transactionDate').focus();
            });

            var lastTransactionCurrency = vm.getItem('lastTransactionCurrency');
            if(lastTransactionCurrency) {
                $('#transactionCurrency').val(lastTransactionCurrency).trigger('change');
            }
            var lastTransactionCountry = vm.getItem('lastTransactionCountry');
            if(lastTransactionCountry) {
                $('#transactionCountry').val(lastTransactionCountry).trigger('change');
            }
        });