.section {
    width: 100%;
    padding: 16px;
    position: relative;
    margin-bottom: 15px;
}

.section .title {
    font-size: 32px;
    margin-bottom: 20px;
}

.section .title .per-page {
    font-size: 16px;
}

.amount-input {
    padding-right: 0px;
}

.amount-input input {
    border-radius: 4px 0px 0px 4px;
}

.pagination {
    margin: 0px;
}

.pagination a {
    height: 34px;
    padding-top: 10px !important;
}

.page-display {
    height: 34px;
}